* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-1: #6B7F5E; 
    --color-2: #B5BC9B; 
    --color-3: #482E1D; 
    --color-4: #F9F3E5; 
}

html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    overflow: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: var(--color-4);
    color: var(--color-3);
    background-image: url('../img/Background.png');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 10px 50px;  
}

.logo {
    display: flex;
    align-items: flex-end;
    margin-right: 50px;
}

.logo-img {
    max-height: 50px;
}

nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.nav-links {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
}

.nav-links li {
    margin-right: 100px;
}

.nav-links li a {
    text-decoration: none;
    color: var(--color-3);
    padding: 10px;
    font-size: 18px;
    position: relative;
}

.user-icon img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}